header{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/i4.jpg);
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}
nav .brand-logo{
    color: #ff7200;

}
ul li a:hover{
    color:#ff7200;
}
.form-box{
    width:380px;
	height:700px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding: 10px;
    overflow: hidden;
    
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background:#ff7200;
	border-radius: 30px;
	transition: .5s;
}
.submit-btn:hover{
    color: #fff;
}
.input-group-local{
   
   
    position:absolute;
    width:280px;
    transition:.5s;
}
.input-group-out{
   
	position:absolute;
	width:280px;
	transition:.5s;
}
#local>label{
    display: block;
    margin-bottom: 5px;
    color:grey;
    font-size:1.2rem;
    font-weight:bold;
}
#out>label{
    display: block;
   
    color:grey;
    font-weight:bold;
}
.datepicker-input{
    width:100%;
    height:1.5rem;
    border:2px solid  #999;
    border-radius:2px;
    padding:2px;
    background:transparent;
    color:#ff7200;
}
.ow>label{
    color:#999;  
}
.RW>label{
    color:#999;

}
.ow:hover{
    color:#ff7200;
}
.RW:hover{
    color:#ff7200;
}
.input-field{
	width: 100%;
	padding:7px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #ff7200;
	border: 0;
	outline: none;
	border-radius: 30px;
}


#local{
	left:50px;
}
#local input{
	color:white;
	font-size:15;
}
#out{
	left:450px;
}
#out input{
	color:white;
	font-size: 15px;
}

.para{
    color:#fff;
    font-weight: bold;
    
}
.contact{
    display: inline-block;
    margin: auto;
    justify-content: center;
    margin-top: 0rem;
    font-size: 30px;
    padding: 20px;
    z-index: 100;
    
}
i{
    color: #ff7700;
    padding:20px;
    
}

.fa:hover{
    opacity:0.6;

}


section{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/i4.jpg);
    background-position: center;
    background-size: cover;
    min-height: 800px;
    width:100%;

}

section .row{
    width:250px;
    height:250px;
    background-color:rgba(0,0,0,0.3) ;
    float:left;
    margin:200px 40px 0 12px;
    padding:10px;
}
section .column{
    width:250px;
    height:250px;
    background-color:rgba(0,0,0,0.3) ;
    float:left;
    margin:200px 40px 0 12px;
    padding:10px;
}
h2{
    color:rgb(248, 83, 0);
    margin-top:10px;
}
.car{
    color: #fff;
    margin-top: 10px;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background:rgb(248, 83, 0);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.submit-btn:hover{
    color:#fff;
}
  

@media screen and (max-width:600px){
    header{
        min-height:800px;
        width: 100%;
    }
    nav .brand-logo{
        font-size: 20px;    
    }
    
    nav .sidenav{
        
        align-items: center;
        justify-content: center;
    }
    section .row{
        margin:100px 100px 0 100px;
        padding-left: 12px;
    }
    section .column{
        margin:100px 100px 0 100px;
        padding-left: 12px;
    }
    
    
}
    
    